sasl.mechanism={{ kafka_sasl_enabled_mechanisms }}
security.protocol={{ kafka_listener_protocol }}
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="admin" password="{{ admin_user_password }}";